<div {{ attributes }}>
    <p>Hello World</p>

    <button onclick="document.getElementById('form_container').style.display = 'block'">Show Form</button>

    <div id="form_container">
        {{ form_start(form, {
            'attr': {
                'data-action': 'live#action:prevent',
                'data-live-action-param': 'login'
            }})
        }}

        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        <button type="submit">Submit</button>
        {{ form_end(form) }}
    </div>

</div>